.container {
  width: 100%;
  height: 400px;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 340px;
  z-index:1;
}

ion-title{
  left:30px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.001em;
  text-align: center;
  margin-left:-50px;
}

ion-card {
  display: flex;
  flex-direction:column;
  width:100%;
  margin: -96px 0 0 0;
}

ion-card-content{
  background-color: #EBE5D8;
  border-radius: 28px 28px 0 0;
  height: 379px;
  display: block;
  z-index:2;
}

ion-toolbar {
  color:white;
}

#driverDp{
  width: 50px;
  height: 50px;
  color: #272727;
}

#callIcon{
  width: 30px;
  height: 30px;
  color: #0CBC8B;
  display: inline-block;
  margin-right: 10px;
}

#driverIcon{
  margin-top: -15px;
}

.driverName, .details{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-left: 10px;
  color: #272727;
}

.rating{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  color:#272727;
}

#star{
  color:#FFBA4C;
  margin-left: 10px;
}

.bg-transparent {
  background: transparent;
}

#vehicleDetails{
  background-color: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 10px;
  height: 90px;
}

.vl {
  border-left: 3px solid #9E9E9E;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 94px;
}

#idNum{
  position: absolute;
  right: 50px;
  margin-top: -80px;
}

.vehicleText, .bookingText{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color:#272727;
  line-height: 15px;
  margin-left: 50px;
  margin-top: 15px;
}

.plateNumber{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  margin-left: 45px;
  color: #FFBA4C;
  letter-spacing: 0.05em;
}

.bookingID{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  margin-left: 61px;
  color: #FFBA4C;
  letter-spacing: 0.05em;
}

#line{
  margin-left: 15px;
  margin-top: 15px;
}

#location, #locLine{
  position: absolute;
}

#destination{
  margin-top: 55px;
}

.hr{
  padding-bottom: 20px;
  margin-top: -58px;
  margin-left: 45px;
  position: absolute;
  width: 258px;
  border-bottom: 1px solid rgb(158, 158, 158, 0.6);
}

.hr2{
  margin-top: 15px;
  margin-left: 27px;
  position: absolute;
  width: 245px;
  border-bottom: 1px solid rgb(158, 158, 158, 0.6);
}

.details{
  margin-top: 23px;
}

.detail{
  margin-top: -17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  margin-left: 10px;
  color: #FFBA4C;
}

#continueButton{
  --border-radius: 24px;
  --ion-font-family: 'Montserrat';
  font-weight: 400;
  text-transform: none;
  width: 130px;
  height: 37px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 14px;
  --background: #0CBC8B;
  margin-top: -1px;
  margin-left: 20%;
}

#cancelBtn{
  --border-radius: 24px;
  --ion-font-family: 'Montserrat';
  font-weight: 400;
  text-transform: none;
  width: 130px;
  height: 37px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 14px;
  --background: #C5331E;
  margin-top: -1px;
  margin-left: 30%;
}

#continueDiv, #closeDiv{
  display: inline-block;
}

//modal css

ion-modal#successModal {
 --width:300px;
  --height: 415px;
  --border-radius: 15px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --overflow-y:scroll;
  --background-color: transparent;
}

ion-modal#successModal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#successModal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #aaaaaa;
}

ion-modal#successModal .wrapper {
  margin-bottom: 10px;
}

#heading{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: white;
  padding-top: 15px;
}

#tricInfo{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  color: white;
  margin-top: -7px;
}

#container{
  background-color:#0CBC8B;
  border-radius: 15px 15px 0 0;
  width: 300px;
  height: 69px;
  margin-top: -20px;
}

.bookingDetails{
  height: 280px;
}

#proceedBtn{
  --border-radius: 24px;
  --ion-font-family: 'Montserrat';
  font-weight: 400;
  text-transform: none;
  width: 225px;
  height: 37px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 14px;
  --background: #0CBC8B;
}

#moneyIcon{
  width: 20px !important;
  height: 20px !important;
  padding-left: 7px !important;
  color: white !important;
}

#totalTxt, #totalPrice {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 450;
  line-height: 22px;
  color: #272727;
  text-align: center;
  display: inline-block;
  font-weight: 600;
}

#totalDiv, #totalTxt{
  width: 90px;
  margin-left: 35px;
  font-size: 22px;
  margin-top: 10px;
}

#priceDiv, #totalPrice{
  width: 110px;
  margin-left: -20px;
  font-size: 38px;
}

#totalDiv, #priceDiv{
  display: inline-block;
}

#detail1, #detail2, #detail3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  color: #272727;
  padding-left: 20px;
}

#note{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  color: #272727;
  margin-top: 45px;
  padding-left: 20px;
  text-align: center;
  width: 280px;
}

/* The Close Button */
.close {
  color: #C5331E;
  float: right;
  font-size: 31px;
  font-weight: bold;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: #C67D72;
  text-decoration: none;
  cursor: pointer;
}
