<ion-content [fullscreen]="true">

  <div class="reg-form ion-padding">
          <div class="form-input">

              <ion-label class="headings">Personal Details</ion-label>
                <ion-icon name="person-circle-outline"></ion-icon>
                <ion-img src="../../assets/Line.png" alt="line" align="right" class="line2"></ion-img>

            <form [formGroup] = "registrationForm" (ngSubmit)="submit()">
              <ion-item>
                <ion-label position="floating" class="labels">First Name</ion-label>
                <ion-input formControlName="firstName" autocapitalize type="text" ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.firstName">
                <ng-container *ngIf="firstName.hasError(error.type) && (firstName.dirty || firstName.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <ion-item>
                <ion-label position="floating" class="labels">Last Name</ion-label>
                <ion-input formControlName="lastName" type="text" ></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.lastName">
                <ng-container *ngIf="lastName.hasError(error.type) && (lastName.dirty || lastName.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <ion-item>
                <ion-label position="floating" class="labels">Referral Code</ion-label>
                <ion-input type="text" class="adjust1"></ion-input>
              </ion-item>

              <ion-label class="contactHeading">Contact Details</ion-label>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-img src="../../assets/Line.png" alt="line" align="right" class="line2"></ion-img>

              <ion-item>
                <ion-label position="floating" class="labels">Email Address</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.email">
                <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <ion-item>
                <ion-label position="floating" class="labels">Mobile Number</ion-label>
                <ion-input formControlName="mobileNum" type="tel" minlength="11" maxlength="11"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.mobileNum">
                <ng-container *ngIf="mobileNum.hasError(error.type) && (mobileNum.dirty || mobileNum.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </form>

              <center>
                <ion-button type="submit" [disabled]="!registrationForm.valid" (click)="submit()"> Next <ion-icon name="arrow-forward-outline" id="arrow"></ion-icon> </ion-button>
              </center>

          </div>
      </div>
        	<center>
          <ion-grid class="nextIcon">
            <ion-icon name="ellipse" class="ellipse"></ion-icon>
            <ion-icon name="ellipse-outline" class="ellipse"></ion-icon>
          </ion-grid>
          </center>
</ion-content>
