<ion-header translucent="true">
<ion-toolbar>
  <ion-title>ParaTrike</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <capacitor-google-map #map></capacitor-google-map>
  </div>

  <div class="card">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Hello, Kryzle!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <br>
    <ion-card-subtitle>Where are you heading to?</ion-card-subtitle>

    <ion-item class="location">
     <ion-icon name="navigate-outline" slot="end" color="medium"></ion-icon>
     <ion-input placeholder="Your Location" id="locInput"></ion-input>
    </ion-item>

      <ion-item class="destination">
        <ion-icon name="location-outline" slot="end" color="medium"></ion-icon>
       <ion-input placeholder="Search your Destination" id="destination"></ion-input><br>
      </ion-item>

    <div class="buttons">
      <div class="buttonAlign">
        <center>
          <ion-button id="continueBtn">Continue</ion-button>

          <ion-modal id="drivermodal" #modal trigger="continueBtn">
              <ng-template>
                <div class="wrapper">
                  <div id="driverContainer">
                    <h1 id="driverHeading">List of Active Drivers</h1>
                  </div>

                  <ion-list lines="none">
                    <ion-item id="driver1" button="true" detail="true" (click)="tripDetails()">
                      <ion-icon name="person-circle"></ion-icon>
                      <ion-label>
                        <h2 class="driverName">Karl Pangilinan</h2>
                        <h3 class="distance">192m away</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item button="true" detail="true" (click)="modal.dismiss()">
                      <ion-icon name="person-circle"></ion-icon>
                      <ion-label>
                        <h2 class="driverName"> Darryl Torino</h2>
                        <h3 class="distance">218m away</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item button="true" detail="true" (click)="modal.dismiss()">
                      <ion-icon name="person-circle"></ion-icon>
                      <ion-label>
                        <h2 class="driverName"> Alchie Carampil</h2>
                        <h3 class="distance">312m away</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item button="true" detail="true" (click)="modal.dismiss()">
                      <ion-icon name="person-circle"></ion-icon>
                      <ion-label>
                        <h2 class="driverName"> Alexis Cueto</h2>
                        <h3 class="distance">327m away</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item button="true" detail="true" (click)="modal.dismiss()">
                      <ion-icon name="person-circle"></ion-icon>
                      <ion-label>
                        <h2 class="driverName"> Renzo Cardona</h2>
                        <h3 class="distance">400m away</h3>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                  <center>
                    <ion-button id="cancelBtn" (click)="modal.dismiss()">Cancel</ion-button>
                  </center>
                </div>
              </ng-template>
          </ion-modal>


        </center>
      </div>
    </div>
    </ion-card-content>
  </ion-card>
  </div>

  </ion-content>
