<ion-header translucent="true">
<ion-toolbar>
  <ion-title>ParaTrike</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <capacitor-google-map #map></capacitor-google-map>
  </div>

  <div class="card">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Hello, Kryzle!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <br>
    <ion-card-subtitle>Where are you heading to?</ion-card-subtitle>

    <ion-item class="location">
     <ion-icon name="navigate-outline" slot="end" color="medium"></ion-icon>
     <ion-input placeholder="Your Location" id="locInput"></ion-input>
    </ion-item>

      <ion-item class="destination">
        <ion-icon name="location-outline" slot="end" color="medium"></ion-icon>
       <ion-input placeholder="Search your Destination" id="destination"></ion-input><br>
      </ion-item>

    <div class="buttons">
      <div class="buttonAlign">
        <center>
          <ion-button id="continueBtn">Continue</ion-button>
          <ion-button id="cancelBtn" >Cancel</ion-button>
        </center>
      </div>
    </div>
    </ion-card-content>
  </ion-card>
  </div>

  </ion-content>
