.container {
  width: 100%;
  height: 400px;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 400px;
}

ion-card-title {
  text-align: center;
  color: #EDEEFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 11px;
  letter-spacing: -0.05em;
  height: 10px;
}

ion-title{
  left:30px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.05em;
}

ion-card-subtitle {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.07em;
  color: #212121;
}

ion-card {
  display: flex;
  flex-direction:column;
  width:100%;
  margin:0;
}

ion-card-content{
  background-color: #EBE5D8;
}

.destination, .location{
background-color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
border-radius: 10px;
height: 100%;
}

.location{
  margin-top: 23px;
}

.destination{
  margin-top: 8px;
}

ion-card-header {
  background-color: #FFBA4C;
  height: 45px;
}

ion-toolbar {
  color:white;
}

.buttonAlign {
  display: inline;
  text-align: center;
}

.buttons{
  margin-top:10px;
}

#continueBtn, #cancelBtn{
  --border-radius: 24px;
  --ion-font-family: 'Montserrat';
  font-weight: 400;
  text-transform: none;
  width: 120px;
  height: 37px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 14px;
}

#continueBtn{
    --background: #0CBC8B;
}

#cancelBtn{
    --background: #C5331E;
}

ion-modal#drivermodal {
 --width:300px;
  --height: 415px;
  --border-radius: 15px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --overflow-y:scroll;
  --background-color: transparent;
}

ion-modal#drivermodal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#drivermodal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.wrapper{
//  overflow: scroll;
}

#driverHeading{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: white;
  padding-top: 15px;
}

#driverContainer{
  background-color:#0CBC8B;
  border-radius: 15px 15px 0 0;
  width: 300px;
  height: 50px;
  margin-top: -20px;
}

.driverName{
//  display: block;
  background-color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
}

.distance{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  color:#0CBC8B;
}
