<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="bg-transparent">
    <ion-img src="./assets/logo.png" id="logo" alt="logo"></ion-img>
    <ion-list-header> <ion-label class="title"> Rides History </ion-label></ion-list-header>
    <ion-item color="none" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Total Distance Travelled</ion-card-subtitle>
                <ion-chip outline color="dark">
                  <ion-label><ion-icon name="car"></ion-icon> 250km</ion-label>
                </ion-chip>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Total Money Spent</ion-card-subtitle>
                <ion-chip outline color="dark">
                  <ion-label>₱ 285.00</ion-label>
                </ion-chip>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-list-header>
      <ion-label class="recent">Recent Rides</ion-label>
    </ion-list-header>
    <ion-item class="recentRides" lines="none" *ngFor="let item of rides">
      <ion-img src="./assets/logo.png" class="logoTrike" alt="trike"></ion-img>
      <ion-label size="large" class="ion-text-wrap">
        <b>{{item.validation}}</b>
        <p>
          {{item.date}}          {{item.time}}
        </p>
      </ion-label>
      <ion-text slot="end" [color]="item.amount > 0 ? 'success' : 'danger'">₱ {{item.amount}} </ion-text>
    </ion-item> <br>

    <ion-list-header>
      <ion-label class="lastMonth">June 2022</ion-label>
    </ion-list-header>
    <ion-item class="recentRides" lines="none" *ngFor="let item of lastRides">
      <ion-img src="./assets/logo.png" class="logoTrike" alt="trike"></ion-img>
      <ion-label size="large" class="ion-text-wrap">
        <b>{{item.validation}}</b>
        <p>
          {{item.date}}          {{item.time}}
        </p>
      </ion-label>
      <ion-text slot="end" [color]="item.amount > 0 ? 'success' : 'danger'">₱ {{item.amount}} </ion-text>
    </ion-item>

  </ion-list>

</ion-content>
