ion-content{
    --background: url('../../assets/historybg.png') no-repeat center center/cover;
}

ion-list-header {
  margin-top: -35px
}

ion-card-subtitle {
  margin-top: 5px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  color: black;
}

ion-header{
  --background: transparent;
}

ion-content{
font-family: 'Montserrat';
}

ion-title{
  font-family: 'Montserrat';
  color:white;
}

ion-card{
  margin-top: 45px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
}

ion-menu-button{
  color:white;
}

ion-grid {
  margin-top: -30px;
}

b, p {
  font-family: 'Montserrat';
  font-size: 13px;
  color: black;
}

#logo {
  width: 189px;
  height: 184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom:0px;
}

.title {
  font-family: 'Montserrat';
  font-size: 19px;
  text-align: center;
  margin-top: -20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-top: 20px;
  color: white;
}

#ridesTxt{
    background-color: #FFBA4C;
    margin-left: 33px;
    width: 290px;
    border-radius: 20px;
}

.bg-transparent {
  background: transparent;
}

.recent {
  margin-top: 50px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-family: 'Montserrat';
  letter-spacing: -0.5px;
  text-shadow: 1px;
}

.thisMonth {
  font-family: 'Montserrat';
  margin-top: 30px;
  font-size: 20px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-family: 'Montserrat';
  letter-spacing: -0.5px;
  text-shadow: 1px;
}

.lastMonth {
  font-family: 'Montserrat';
  margin-top: 20px;
  font-size: 20px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-family: 'Montserrat';
  letter-spacing: -0.5px;
  text-shadow: 1px;
}

.recentRides{
  width: 95%;
  border-radius: 5px;
  margin-bottom: 1.5vh;
  padding-left: 10px;
}

.logoTrike {
  width: 55px;
  height: 60px;
  padding-right: 5px;
}

.price{
  font-size: 1rem;
  font-family: 'Montserrat';
  letter-spacing: 0.5px;
  text-shadow: 1px;
  font-weight: bold;
}

ion-chip{
  background-color: #FFBA4C;
}

ion-icon{
  color: white;
}

.value{
  color: white;
  font-weight: bold;
  //font-family: 'Montserrat';
}
