<ion-content [fullscreen]="true">

  <div class="vertical-center">
    <div class="center">
      <ion-img src="../../assets/signInIcon.png" alt="signInIcon" align="right" id="signInIcon"></ion-img>
    </div>
  </div>

    <ion-label color="white" class="ion-margin on-padding start" id="signInLabel"> Sign In to your Account </ion-label>
    <p id="subtitle"> Welcome Back! Ready for your next ride? </p>

    <ion-item class="credentials">
      <ion-input placeholder="Username or Mobile Number" ></ion-input>
    </ion-item>

    <ion-item class="credentialPass">
      <!--<ion-icon [name]="type ? 'eye-outline' : 'eye-off-outline'" (click)="changeEye()" Guide Video Timestamp: 10:38
      slot="end" color="medium"></ion-icon>
      <ion-input placeholder="Password" [type]="type ? 'password' : 'text'"></ion-input>-->
      <ion-input placeholder="Password" type="password"></ion-input>
      <ion-icon name="eye-outline"></ion-icon>
    </ion-item>

    <ion-button (click)="login()"> Login </ion-button>  <!-- Add Routes-->
    <div class="forgotPass">
      <p class="p1">Forgot Password? </p>
    <p class="a1" (click)="forgotPassword()"> <b><u> Click Here </u></b></p> <!-- Add Routes-->
    </div>

    <div class="noAcc">
      <p class="p2">Don't have an account yet? </p>
    <p class="a2" (click)="register()"> <b><u> Register </u></b></p>
    </div>
</ion-content>
