<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-title>Active Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="bg-transparent">
    <br><ion-img src="./assets/waiting.png" id="logo" alt="logo"></ion-img><br><br>

    <ion-card>
      <h5 id="bookTxt">Booking ID: &nbsp; </h5>
      <h5 id="bookId"> TK 0673 </h5>
      <h6 id="dateTime"> July 31, 12:03 PM </h6>

      <div id="locLine">
        <img src = "./assets/locationLine.png" id="line">
        <div class="hr"></div>
      </div>
      <div id="location">
        <h2 class="locationTxt"> 7-Eleven, Bolbok, Batangas </h2>
      </div>
      <div id="destination">
        <h2 class="destinationTxt"> Batangas Country Club </h2>
      </div>

      <ion-button class="statusBtn"> Status: Waiting (5 mins) </ion-button>
    </ion-card> <br> <br>

    <ion-card>
      <h5 id="bookTxt">Booking ID: &nbsp; </h5>
      <h5 id="bookId"> AZ 9521 </h5>
      <h6 id="dateTime"> July 30, 4:13 PM </h6>

      <div id="locLine">
        <img src = "./assets/locationLine.png" id="line">
        <div class="hr"></div>
      </div>
      <div id="location">
        <h2 class="locationTxt"> 7-Eleven, Bolbok, Batangas </h2>
      </div>
      <div id="destination">
        <h2 class="destinationTxt"> Sta. Rita de Cascia Parish Church </h2>
      </div>

      <ion-button class="statusBtn"> Status: Waiting (5 mins) </ion-button>
    </ion-card> <br> <br>

    <ion-card>
      <h5 id="bookTxt">Booking ID: &nbsp; </h5>
      <h5 id="bookId"> BR 1421 </h5>
      <h6 id="dateTimes"> July 30, 4:10 PM </h6>

      <div id="locLine">
        <img src = "./assets/locationLine.png" id="line">
        <div class="hr"></div>
      </div>
      <div id="location">
        <h2 class="locationTxt"> Parilla Point </h2>
      </div>
      <div id="destination">
        <h2 class="destinationTxt"> Mama's Aviary </h2>
      </div>

      <ion-button class="statusBtn"> Status: Waiting (3 mins) </ion-button>
    </ion-card> <br> <br>


  </ion-list>
</ion-content>
