<ion-content  [fullscreen]="true">

  <div class="reg-form ion-padding">
          <div class="form-input">

              <ion-label class="headings">Account Details</ion-label>
                <ion-img src="../../assets/accountD.png" align="top" id="acIcon"></ion-img>
                <ion-img src="../../assets/Line.png" alt="line" align="right" class="line2"></ion-img>

            <form [formGroup]="accountForm" (ngSubmit)="submit()">
              <ion-item>
                <ion-label position="floating" class="labels">Username</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.username">
                <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <ion-item>
                <ion-label position="floating" class="labels">Password</ion-label>
                <ion-input [type]="type ? 'password' : 'text'" formControlName="password"></ion-input>
                <ion-icon [name]="type ? 'eye-outline' : 'eye-off-outline'" (click)="changeEye()"
                slot="end" color="medium" class="eyeIcon"></ion-icon>
              </ion-item>
              <div *ngFor="let error of errorMessages.password">
                <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <ion-item>
                <ion-label position="floating" class="labels">Retype Password</ion-label>
                <ion-input [type]="type2 ? 'password' : 'text'" class="adjust1" formControlName="retypePw"></ion-input>
                <ion-icon [name]="type2 ? 'eye-outline' : 'eye-off-outline'" (click)="changeEye2()"
                slot="end" color="medium" class="eyeIcon"></ion-icon>
              </ion-item>
              <div *ngFor="let error of errorMessages.retypePw">
                <ng-container *ngIf="retypePw.hasError(error.type) && (retypePw.dirty || retypePw.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </form>

              <center>
                <ion-button type="submit" [disabled]="!accountForm.valid" (click)="submit()"> Submit </ion-button>
              </center>
          </div>
      </div>

      <center>
      <ion-grid class="nextIcon">
        <ion-icon name="ellipse-outline" class="ellipse"></ion-icon>
        <ion-icon name="ellipse" class="ellipse"></ion-icon>
      </ion-grid>
      </center>

</ion-content>
