ion-content {
    --background: url('../../assets/signupBg.png') no-repeat center center/cover;
    ion-item{
      border-radius: 30px;
      width: 330px;
    }
    ion-label, ion-input{
      font-family: Montserrat;
    }
    ion-button{
      --background: #272727;
      --border-radius: 24px;
      --ion-font-family: 'Montserrat';
      font-weight: 10;
      text-transform: none;
      width: 91%;
      height: 6%;
      margin-left: 4vw;
      margin-top: -4vh;
    }
}

#signUpLabel {
  font-size: 1.5rem;
  color:#212121;
  font-weight: bold;
  font-family: Montserrat;
  display: block;
  text-align: center;
  letter-spacing: -1.4px;
  transform: translateY(-6vh);
}


#signupIcon{
  width:200px;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49vh;
}

#subtitle {
  font-size: 12px;
  color:#212121;
  font-family: Montserrat;
  display: block;
  text-align: center;
  letter-spacing: -0.2px;
  transform: translateY(-8vh);
}

.mobileInput{
  margin: auto;
  transform: translateY(-5vh);
  display: block;
}

.p1, .p2{
  text-align:center;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
}

.p2{
  transform: translateY(4vh);
}
.inline-block{
  width:32%;
  display: inline-block;
  white-space:nowrap;
  transform: translateY(4vh);
}

.error{
  font-size: 0.75em !important;
  display:block;
  transform: translateY(-5vh);
  margin-left:10vw;
}
