<ion-content [fullscreen]="true">

  <div class="vertical-center">
    <div class="center">
      <ion-img src="../../assets/signupIcon.png" alt="signUpIcon" align="right" id="signupIcon"></ion-img>
    </div>
  </div>

    <ion-label color="white" class="ion-margin on-padding start" id="signUpLabel"> Sign Up to ParaTrike </ion-label>
    <p id="subtitle"> Book your next tricycle in just one tap. </p>

  <form [formGroup]="form">
    <ion-item class="mobileInput">
       <ion-label position="fixed" id="mobileFixed"> +639 </ion-label><!--Fix Space after 9-->
      <!--<ion-icon name="chevron-down-outline"></ion-icon>-->
      <ion-input
      formControlName="phone"
      placeholder="972 310 2651"
      type="tel"
      minlength="10"
      maxlength="10">
      </ion-input>
    </ion-item>

    <!--Form Validation-->
    <ion-text *ngIf="!form.get('phone').valid && form.get('phone').touched">
      <ion-text class="error" *ngIf="form.get('phone').hasError('required')" color="danger">
        * Please enter your mobile number.
      </ion-text>
      <ion-text class="error" *ngIf="form.get('phone').hasError('minlength') &&
      !form.get('phone').hasError('required')" color="danger">
      * Please enter a valid mobile number.
      </ion-text>
    </ion-text>
  </form>

<ion-button (click)="register()"> Sign up with Phone </ion-button>
<p class="p1" (click)="signIn()"> <u>I have an account already </u></p>
<p class="p2"> Or sign up using: </p>

<!--Add Links to Social Media-->
<div class="socials">
  <div class="inline-block">
      <ion-img src="../../assets/google.png"></ion-img>
  </div>
  <div class="inline-block">
    <ion-img src="../../assets/twitter.png"></ion-img>
  </div>
  <div class="inline-block">
    <ion-img src="../../assets/fb.png"></ion-img>
  </div>
</div>

</ion-content>
