<ion-content [fullscreen]="true">

<div class="vertical-center">
  <div class="center">

    <ion-img src= "./assets/logo.png" alt="logo" align="right" id="logo"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>You are ready to go! <ion-img src= "./assets/greenCheck.png" alt="logo" align="right" id="tick"></ion-img></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text> Please wait patiently. Your driver is on the way.. </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>

  <div class="alignBttn">
    <ion-button class="gBttn" color="success">Booking Completed</ion-button><br>
    <ion-button class="rBttn" color="danger">Cancel Booking</ion-button>
  </div>
  <p><i> Note: With Cancellation Fee </i></p>

</ion-content>
