<ion-content [fullscreen]="true">

<div class="vertical-center">
  <div class="center">

    <ion-img src= "./assets/logo.png" alt="logo" align="right" id="logo"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>You are ready to go! <ion-img src= "./assets/greenCheck.png" alt="logo" align="right" id="tick"></ion-img></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text> Please wait patiently. Your driver is on the way... </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>

  <div class="alignBttn">
    <ion-button class="gBttn" (click)="complete()">Booking Completed <ion-icon name="checkmark-outline"></ion-icon></ion-button><br>
    <ion-button id="rBttn">Cancel Booking<ion-icon name="close-outline"></ion-icon></ion-button>
  </div>

  <ion-modal id="warningmodal" #modal trigger="rBttn">
      <ng-template>
        <div class="wrapper">
          <div id="warningContainer">
            <h1 id="warningHeading">Warning <ion-icon name="warning-outline"></ion-icon></h1>
          </div>

          <div>
            <h3 id="warningTxt"> A cancellation fee of ₱30.00 will be deducted automatically upon this action. Are you sure you want to cancel?</h3>
          </div>
          <center>
            <ion-button id="yesBtn" (click)="cancel()">Yes</ion-button>
            <ion-button id="noBtn" (click)="modal.dismiss()">No</ion-button>
          </center>
        </div>
      </ng-template>
  </ion-modal>


  <p>Note: With Cancellation Fee </p>


</ion-content>
