<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="white" class="ion-margin on-padding start">
    #1 Mobile-based app fors
    <p>
      <ion-text  class="ion-margin on-padding start"> tricycle booking </ion-text>
    </p>
    </ion-label>
  </ion-grid>
  <div class="vertical-center">
    <div class="center">
        <ion-img src= "./assets/logo.png" alt="logo" align="right" id="logo"></ion-img>
    </div>
  </div>

<ion-button (click)="signUp()">Register</ion-button>
  <div class="signInText">
    <p class="p1">Already have an account?  </p>
  <p class="a1" (click)="signIn()"> <b><u>Sign in </u></b></p>
  </div>

</ion-content>
